<h2>{{titleName}} &nbsp; {{bookResult.length}}</h2>
<input value="ttt" [(ngModule)]="titleName">
<!--확인하기 -->
검색 : <input (keyup)="searchTitle($event,this)">
<h1>{{getTitleName()}}</h1>
<ul>
<li *ngFor="let book of bookResult">
  <img src="../assets/image/{{book.img}}" width="100" height="100">
  {{book.name}}
  가격 {{book.price}}

</li>

</ul>

<input type="text" name= "titleName" value="이름"/>
<input type="text" [name]= "titleName"/>
<input type="text" [name]= "'titleName'"/>

<p class="font-red"> hello1</p>
<p [class.font-red]=true>hello2</p>
<p [class.font-red]=false>hello3</p>
<p [class.font-blue]=true>hello4</p>
<p [style.color]="'yellow'">hello5</p>
<p [class.font-blue]="result">hello6</p>
<p [style.color]="colorName">hello7</p>


<button (click)="sayEcho($event)" (focus)="sayEcho($event)" (hover)="sayEcho($event)"
>이벤트</button>
<button (click)="sayEcho('자바')">자바</button>
<button (click)="sayEcho('Angular')">Angular</button>
<br>
아이디 :<input (focus)="focusInHandle(true)" (focusout)="focusOutHandle(false)"  
[class.input_color]="result">
