<!--The whole content below can be removed with the new code.-->
<h1 class="red">
  {{title}}
</h1>
<p [ngClass]="'red'"> Hello</p>

<p [ngClass]="attStyle"> World</p>
<p [ngStyle]="{color:'purple'}">Happy1</p>

<p [ngStyle]="{color:attStyle}">Happy2</p>
<p [style.color]="'yellow'">Happy3</p>
<p [ngStyle]="{color:'purple'}">Happy4</p>
<p [ngStyle]="{color:'purple',fontSize:'20px'}">Happy5</p>
<h1>가. *ngIf="조건"  형태 관련</h1>
<p *ngIf="true">보임!!</p>
<p *ngIf="false">안보임!!</p>
<h1>나. template="ngif 조건"  형태 관련</h1>
<p template="ngIf true">보임!!</p>
<p template="ngIf 1==1">보임!!</p>
---------------------------------

<select [(ngModel)]="grade"

>
<option>90</option>
<option>80</option>
<option>60</option>
</select>

<div [(ngSwitch)]="grade">
<h3 *ngSwitchCase='90'>A학점</h3>
<h3 *ngSwitchCase='80'>B학점</h3>
<h3 *ngSwitchCase='70'>C학점</h3>
<h3 *ngSwitchDefault>F학점</h3>
</div>

<!--{{items}}-->

<div *ngFor="let p of items; let x= index">
  {{x+1}} &nbsp; {{p.name}} &nbsp; {{p.age}}
</div>
